nav.l-nav
  .l-nav__close.js-nav
    i.las.la-times
  .l-nav__inner
    .l-navNav
      dl.l-navNav__dl.-category
        dt.l-navNav__title カテゴリ
        dd.l-navNav__contents
          ul.l-navNav__list
            li
              a(href="") あしまいコラム
            li
              a(href="") お洒落ビト目撃ブログ
      dl.l-navNav__dl.-tag
        dt.l-navNav__title タグ
        dd.l-navNav__contents
          .l-navNav__tags
            a(href="").c-tag あたま
            a(href="").c-tag あたま
            a(href="").c-tag あたま
            a(href="").c-tag あたま

    .l-nav__logo
      a(href="https://ashimai.jp/", target="_blank")
        img(src="/assets/images/logo-ashimai.svg",alt="ashimai illustration",loading="lazy")
    ul.l-navSns
      li.l-navSns__item
        a(href='https://www.instagram.com/_ashimai_/' target='_blank')
          i.lab.la-instagram
      li.l-navSns__item
        a(href='https://twitter.com/_ashimai_' target='_blank')
          i.lab.la-twitter
