@use '../_foundation/mixin' as *;

.l-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-gray-800);
  color: #fff;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.4s ease-in-out;
  visibility: hidden;
  &.-active{
    pointer-events: initial;
    opacity: 1;
    z-index: 100;
    visibility: visible;
  }
  &__inner{
    display: grid;
    column-gap: 40px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "nav nav"
      "logo sns"
      "copyright copyright";
  }
  &__logo{
    grid-area: logo;
    padding: 40px 0;
    img{
      margin-left: auto;
      display: block;
      width: 110px;
    }
  }
  &__copyright{
    grid-area: copyright;
    text-align: center;
    padding: 16px;
    font-size: 1.3rem;
  }
  &__close{
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 16px;
    right: 16px;
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
  }
}

.l-navSns{
  grid-area: sns;
  display: flex;
  align-items: center;
  gap: 16px;
  &__item{
    font-size: 3.6rem;
  }
  a{
    color: #fff;
  }
}

.l-navNav{
  grid-area: nav;
  padding: 64px 64px 32px;
  display: grid;
  gap: 32px;
  justify-content: center;
  grid-template-columns: 200px 200px;
  grid-template-areas: "category tag";
  &__dl{
    &.-tag{
      grid-area: tag;
    }
    &.-category{
      grid-area: category;
    }
  }
  &__title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  &__contents{
    padding-top: 8px;
    font-size: 1.3rem;
  }
  &__list {
    li + li{
      margin-top: 4px;
    }
  }
  &__tags {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    .c-tag {
      background: transparent;
      font-size: 1.2rem;
      border: #fff 1px solid;
    }
  }
  a{
    color: #fff;
  }
}
