@use '../_foundation/mixin' as *;

.l-section {
  grid-area: section;
  padding: 48px 16px;
  &.-bgGray{
    background-color: var(--color-gray-400);
  }
  &:first-child{
    padding-top: 0;
  }
  @include mq(md) {
    padding: 72px 16px;
  }
}


.l-sectionInner {
  @include mq(md) {
    margin-right: auto;
    margin-left: auto;
    max-width: var(--max-width);
  }
}
